@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="no-more-tables">

    <div class="col-md-12">



        <p>
            <a href="/PizzaStore/Create">
                Create
            </a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item Number
                    </th>
                    <th>
                        Pizza Name
                    </th>
                    <th>
                        Item Size
                    </th>
                    <th>
                        Pizza Description
                    </th>


                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        123001
                    </td>
                    <td>
                        Onion Pizza
                    </td>
                    <td>
                        Large
                    </td>
                    <td>
                        Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        123002
                    </td>
                    <td>
                        Onion Pizza
                    </td>
                    <td>
                        Medium
                    </td>
                    <td>
                        Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        123003
                    </td>
                    <td>
                        Onion Pizza
                    </td>
                    <td>
                        Small
                    </td>
                    <td>
                        Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        123004
                    </td>
                    <td>
                        Capiscum Pizza
                    </td>
                    <td>
                        Large
                    </td>
                    <td>
                        Capiscum, Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        123005
                    </td>
                    <td>
                        Capiscum Pizza
                    </td>
                    <td>
                        Medium
                    </td>
                    <td>
                        Capiscum, Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        123006
                    </td>
                    <td>
                        Capiscum Pizza
                    </td>
                    <td>
                        Small
                    </td>
                    <td>
                        Capiscum, Onion with Mozerlla Cheez
                    </td>


                    <td>
                        <a href="/PizzaStore/Edit">Edit</a> |
                        <a href="/PizzaStore/Details">Details</a> |
                        <a href="/PizzaStore/Delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
